@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
.no-scrollbar {
  scroll-behavior: smooth;
}
:root::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
:root,
.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

/* react-phone-input-2 */
.selected-flag,
.selected-flag:hover {
  background-color: transparent !important;
}
/* react-phone-input-2 */
.highlight,
.country:hover {
  color: black;
  border-radius: 10px;
}
.flag {
  scale: 1.7 !important;
  margin-left: 10px;
}
.country {
  margin-top: 5px;
  margin-bottom: 5px;
}

.bg-custom-gradient {
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(31, 31, 76, 0.1) 100%
    ),
    linear-gradient(0deg, #080825 0%, #080825 100%);
}

.pill-gradient {
  background: linear-gradient(
      180deg,
      rgba(25, 25, 112, 0.15) 0%,
      rgba(25, 25, 112, 0.1) 100%
    ),
    radial-gradient(
      146.13% 118.42% at 50% -15.5%,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0) 100%
    );
}

@keyframes wiggle {
  from {
    rotate: -1deg;
  }
  to {
    rotate: 1deg;
  }
}

@keyframes loadIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animation-loadIn {
  animation: loadIn 0.5s linear forwards;
}

.animation-wiggle-1s {
  animation: wiggle 0.7s ease-in-out infinite alternate;
}

.animation-wiggle-2s {
  animation: wiggle 1s ease-in-out infinite alternate;
}

.animation-wiggle-reverse-1s {
  animation: wiggle 0.5s ease-in-out infinite alternate-reverse;
}

.animation-wiggle-reverse-2s {
  animation: wiggle 1.2s ease-in-out infinite alternate-reverse;
}
